.form-label {
  margin-bottom: 0;
}

.progresses {
  display: flex;
  align-items: center;
}

.line {
  width: 40px;
  height: 6px;
  background: #AAA;
}
 
.steps {
  display: flex;
  background-color: #AAA;
  color: #fff;
  font-size: 14px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.complete.line {
  background: #63d19e;
}
.complete.steps {
  background-color: #63d19e;
}

.rating-container {
  font-size: x-large;
}
.rating-symbol {
  margin-right: 1em;
}
